<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="initial-scale=1.0, user-scalable=no" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
    <title>Work | Balance | Life</title>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
    <script  src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>

<body>
    
    {{{body}}}

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="../../assets/js/greenSock.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    <script src="../../assets/js/jquery.leanModal.min.js"></script>
    <script src="../../assets/js/fss.js"></script>
    <script src="../../assets/js/worklife.js"></script>
</body>

</html>