<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>index html</title>
    <!-- <meta name="viewport" content="initial-scale=1.0, user-scalable=no" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

</head>

<body>
    <div class="container" id="container">

    </div>
    <div class="grid-cont">
        <div class="triangle"></div>

        <h1 class="title">Work Balance Life</h1>

        <a class="login100-form-btn-home log " id="inputpage" href="./input.html">Input Your Weekly Exercise, Work and Life Information</a>
        <a class="login100-form-btn-home reg" id="reportspage" href="./reports.html">Weekly Results</a>
    </div>

    <script src="jquery.leanModal.min.js"></script>
    <script src="fss.js"></script>
    <script src="test.js"></script>
</body>

</html>