
    <div class="container" id="container">

    </div>
    <div class="grid-cont">
    <h1 id="logo" style="z-index:25;">Work Balance Life</h1>
    <div class="triangle">
        <img src="../../assets/images/illuminati2.png" alt="Iluminati pyramid img">
    </div>

        {{!-- <h1 class="title">Work Balance Life</h1> --}}

        <a class="login100-form-btn-home log " id="inputpage" href="/input/{{user.auth}}">Input Your Weekly Exercise, Work and Life Information</a>
        <a class="login100-form-btn-home reg" id="reportspage" href="/reports/{{user.auth}}">Weekly Results</a>
        <h1>{{user.username}}</h1>
    </div>


    