
    <div class="container" id="container">

    </div>
    <div class="grid-cont">
        <div class="triangle"></div>
        <h1 id="logo" style="z-index:25;">Work Balance Life</h1>

        {{!-- <h1 class="title">Work Balance Life</h1> --}}

        <button class="login100-form-btn log " id="login" href="#loginModal">Login</button>
        <a class="login100-form-btn reg" id="register" href="/register">Register</a>
    </div>

    <div id="loginModal" class="popupContainer" style="display:none;">
        <div class="modal-content">
            <form class="login100-form validate-form">
                <span class="login100-form-logo ">
                </span>
                <h6 class="logoTitle">Work Balance Life</h6>
                <span class="login100-form-title ">Log in</span>
                <div class="wrap-input100 validate-input" data-validate="Enter username">
                    <input type="text" class="input100" id="username" name="username" placeholder="Username">
                    <span class="focus-input100" data-placeholder="&#xf007;"></span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Enter Password">
                    <input type="password" class="input100" id="password" name="pass" placeholder="Password">
                    <span class="focus-input100" data-placeholder="&#xf023;"></span>
                </div>
                <div class="container-login100-form-btn">
                    <a id="loginBtn" href="/home.html" class="login100-form-btn close">Login</a>
                </div>
                <div class="text-center p-t-90">
                    <a class="txt1" href="#">Forgot Password?</a>
                </div>
            </form>
        </div>
    </div>
 