<div class="container" id="container"></div>
<div class="grid-cont-input">
    <a class="login100-form-btn back" id="back" href="./home.html">Back</a>
    <h2 class="usernameDisplay">{{user.username}}</h2>
    <h3 class="exTitle">Health </h3>
    <h1 class="inputpgTitle">Weekly Input</h1>
    <div class="exDiv">
        <form action="" class="exForm">

            <div class="column">
                <label for="" class="i_q_1">Were you able to reach your exercise goal?</label>
                <div>
                    <input type="radio"  class="exer1" name="exercise" value="yes" required>
                    <label for="exerChoice1">Yes</label>
                    <input type="radio"  class="exer1" name="exercise" value="no" required>
                    <label for="exerChoice2">No</label>
                </div>
            </div>
            <div class="column">
                <label for="" class="i_q_2">Did you exercise at least thirty minutes a day for up to three days total?</label>
                <div>
                    <input type="radio"  class="exer2" name="exercise2" value="yes" required>
                    <label for="exerChoice1">Yes</label>
                    <input type="radio"  class="exer2" name="exercise2" value="no" required>
                    <label for="exerChoice2">No</label>
                </div>
            </div>
            <div class="column">
                <label for="" class="i_q_3">Did you eat three meals a day for at least five days?</label>
                <div>
                    <input type="radio"  class="exer3" name="exercise3" value="yes" required>
                    <label for="exerChoice1">Yes</label>
                    <input type="radio" class="exer3" name="exercise3" value="no" required>
                    <label for="exerChoice2">No</label>
                </div>
            </div>
            <div class="column">
                <label for="" class="i_q_4">Did you mostly stand while you worked?</label>
                <div>
                    <input type="radio"  class="exer4" name="exercise4" value="yes" required>
                    <label for="exerChoice1">Yes</label>
                    <input type="radio"  class="exer4" name="exercise4" value="no" required>
                    <label for="exerChoice2">No</label>
                </div>
            </div>

            <div class="column">
                <label for="" class="i_q_5">Did you supplement your diet with vitamins?</label>
                <div>
                    <input type="radio"  class="exer5" name="exercise5" value="yes" required>
                    <label for="exerChoice1">Yes</label>
                    <input type="radio"  class="exer5" name="exercise5" value="no" required>
                    <label for="exerChoice2">No</label>
                </div>
            </div>

            <div class="column">
                <label for="" class="i_q_6">Did you stretch as well as exercise?</label>
                <div>
                    <input type="radio"  class="exer6" name="exercise6" value="yes" required>
                    <label for="exerChoice1">Yes</label>
                    <input type="radio" class="exer6" name="exercise6" value="no" required>
                    <label for="exerChoice2">No</label>
                </div>
            </div>
            <div class="column">
                <label for="" class="i_q_7">Did you run, bike, row, or long distance walk at least once?</label>
                <div>
                    <input type="radio"  class="exer7" name="exercise7" value="yes" required>
                    <label for="exerChoice1">Yes</label>
                    <input type="radio"  class="exer7" name="exercise7" value="no" required>
                    <label for="exerChoice2">No</label>
                </div>
            </div>
            <div class="column">
                <label for="" class="i_q_8">Did you eat mostly healthy including organic vegetables?</label>
                <div>
                    <input type="radio"  class="exer8" name="exercise8" value="yes" required>
                    <label for="exerChoice1">Yes</label>
                    <input type="radio"  class="exer8" name="exercise8" value="no" required>
                    <label for="exerChoice2">No</label>
                </div>
            </div>

            <div class="column">
                <label for="" class="i_q_9">Did you stay hydrated/ drink plenty of water?</label>
                <div>
                    <input type="radio"  class="exer9" name="exercise9" value="yes" required>
                    <label for="exerChoice1">Yes</label>
                    <input type="radio"  class="exer9" name="exercise9" value="no" required>
                    <label for="exerChoice2">No</label>
                </div>
            </div>
        </form>
    </div>
    <h3 class="wrktitle">Work</h3>
    <div class="wrkDiv">
        <form action="" class="wrkForm">
            <div class="column">
                <label for="" class="i_q_1">Did you work full time?</label>
                <div>
                    <input type="radio"  class="work1" name="work1" value="yes" required>
                    <label for="wrkChoice1">Yes</label>
                    <input type="radio"  class="work1" name="work1" value="no" required>
                    <label for="wrkChoice2">No</label>
                </div>
            </div>
            <div class="column">
                <label for="" class="i_q_2">Did you complete a task you have been wanting to complete ?</label>
                <div>
                    <input type="radio"  class="work2" name="work2" value="yes" required>
                    <label for="wrkChoice1">Yes</label>
                    <input type="radio"  class="work2" name="work2" value="no" required>
                    <label for="wrkChoice2">No</label>
                </div>
            </div>
            <div class="column">
                <label for="" class="i_q_3">Did you not work overtime?</label>
                <div>
                    <input type="radio"  class="work3" name="work3" value="yes" required>
                    <label for="wrkChoice1">Yes</label>
                    <input type="radio"  class="work3" name="work3" value="no" required>
                    <label for="wrkChoice2">No</label>
                </div>
            </div>
            <div class="column">
                <label for="" class="i_q_4">Are you happy at your job?</label>
                <div>
                    <input type="radio"  class="work4" name="work4" value="yes" required>
                    <label for="wrkChoice1">Yes</label>
                    <input type="radio"  class="work4" name="work4" value="no" required>
                    <label for="wrkChoice2">No</label>
                </div>
            </div>
            <div class="column">
                <label for="" class="i_q_5">Did you take a full lunch break at least three of the work days?</label>
                <div>
                    <input type="radio"  class="work5" name="work5" value="yes" required>
                    <label for="wrkChoice1">Yes</label>
                    <input type="radio"  class="work5" name="work5" value="no" required>
                    <label for="wrkChoice2">No</label>
                </div>
            </div>
            <div class="column">
                <label for="" class="i_q_6">Do you feel satisifed with your work week?</label>
                <div>
                    <input type="radio"  class="work6" name="work6" value="yes" required>
                    <label for="exerChoice1">Yes</label>
                    <input type="radio"  class="work6" name="work6" value="no" required>
                    <label for="exerChoice2">No</label>
                </div>
            </div>
            <div class="column">
                <label for="" class="i_q_7">Are you happy with the amount of money you recieve from your job?</label>
                <div>
                    <input type="radio"  class="work7" name="work7" value="yes" required>
                    <label for="wrkChoice1">Yes</label>
                    <input type="radio"  class="work7" name="work7" value="no" required>
                    <label for="wrkChoice2">No</label>
                </div>
            </div>
            <div class="column">
                <label for="" class="i_q_8">Did you compliment another co worker about their work?</label>
                <div>
                    <input type="radio"  class="work8" name="work8" value="yes" required>
                    <label for="wrkChoice1">Yes</label>
                    <input type="radio"  class="work8" name="work8" value="no" required>
                    <label for="wrkChoice2">No</label>
                </div>
            </div>
            <div class="column">
                <label for="" class="i_q_9">Were you complimented on your work?</label>
                <div>
                    <input type="radio"  class="work9" name="work9" value="yes" required>
                    <label for="wrkChoice1">Yes</label>
                    <input type="radio"  class="work9" name="work9" value="no" required>
                    <label for="wrkChoice2">No</label>
                </div>
            </div>
        </form>
    </div>
    <h3 class="lifeTitle">Life</h3>
    <div class="lifeDiv">
        <form action="" class="lifeForm">
            <div class="column">
                <label for="" class="i_q_1">Did you spend time with a loved one and/or friend?</label>
                <div>
                    <input type="radio"  class="life1" name="life1" value="yes" required>
                    <label for="lifeChoice1">Yes</label>
                    <input type="radio"  class="life1" name="life1" value="no" required>
                    <label for="lifeChoice2">No</label>
                </div>
            </div>
            <div class="column">
                <label for="" class="i_q_2">Did you pay it forward at least once?</label>
                <div>
                    <input type="radio"  class="life2" name="life2" value="yes" required>
                    <label for="lifeChoice1">Yes</label>
                    <input type="radio"  class="life2" name="life2" value="no" required>
                    <label for="lifeChoice2">No</label>
                </div>
            </div>
            <div class="column">
                <label for="" class="i_q_3">Did you talk with a loved one for at least ten minutes?</label>
                <div>
                    <input type="radio"  class="life3" name="life3" value="yes" required>
                    <label for="lifeChoice1">Yes</label>
                    <input type="radio"  class="life3" name="life3" value="no" required>
                    <label for="lifeChoice2">No</label>
                </div>
            </div>
            <div class="column">
                <label for="" class="i_q_4">Did you experience nature?</label>
                <div>
                    <input type="radio"  class="life4" name="life4" value="yes" required>
                    <label for="lifeChoice1">Yes</label>
                    <input type="radio"  class="life4" name="life4" value="no" required>
                    <label for="lifeChoice2">No</label>
                </div>
            </div>
            <div class="column">
                <label for="" class="i_q_5">Did you treat yourself to a treat?</label>
                <div>
                    <input type="radio"  class="life5" name="life5" value="yes" required>
                    <label for="lifeChoice1">Yes</label>
                    <input type="radio"  class="life5" name="life5" value="no" required>
                    <label for="lifeChoice2">No</label>
                </div>
            </div>
            <div class="column">
                <label for="" class="i_q_6">Did you spend some time relaxing?</label>
                <div>
                    <input type="radio"  class="life6" name="life6" value="yes" required>
                    <label for="lifeChoice1">Yes</label>
                    <input type="radio"  class="life6" name="life6" value="no" required>
                    <label for="lifeChoice2">No</label>
                </div>
            </div>
            <div class="column">
                <label for="" class="i_q_7">Did you stay away from technology for at least four hours for one day?</label>
                <div>
                    <input type="radio"  class="life7" name="life7" value="yes" required>
                    <label for="lifeChoice1">Yes</label>
                    <input type="radio"  class="life7" name="life7" value="no" required>
                    <label for="lifeChoice2">No</label>
                </div>
            </div>
            <div class="column">
                <label for="" class="i_q_8">Did you do at least one thing that was creative?</label>
                <div>
                    <input type="radio"  class="life8" name="life8" value="yes" required>
                    <label for="lifeChoice1">Yes</label>
                    <input type="radio"  class="life8" name="life8" value="no" required>
                    <label for="lifeChoice2">No</label>
                </div>
            </div>
            <div class="column">
                <label for="" class="i_q_9">Did you experience culture/ go to an cultural event?</label>
                <div>
                    <input type="radio"  class="life9" name="life9" value="yes" required>
                    <label for="lifeChoice1">Yes</label>
                    <input type="radio"  class="life9" name="life9" value="no" required>
                    <label for="lifeChoice2">No</label>
                </div>
            </div>
        </form>
    </div>
    <button class="login100-form-btn submitInput" id="subInput">Submit Balance</button>
</div>