


    <div class="container" id="container"></div>
    <div class="grid-cont-input">
        <a class="login100-form-btn back" id="back" href="/home.html">Back</a>
        <h2 class="usernameDisplay">{{user.username}}</h2>
        <h1 class="reportsTitle">Reports</h1>
        <div class="chartDiv">Insert chart from get request to server chart.js</div>
        <h1 class="suggestTitle">Suggestions</h1>
        <div class="suggestDiv">Insert suggestions from get request on the server.</div>

    </div>

  