<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>input html</title>
    <!-- <meta name="viewport" content="initial-scale=1.0, user-scalable=no" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container" id="container"></div>
    <div class="grid-cont-input">
        <a class="login100-form-btn back" id="back" href="/home.html">Back</a>
        <h2 class="usernameDisplay">Username Input</h2>
        <h1 class="reportsTitle">Reports</h1>
        <div class="chartDiv">Insert chart from get request to server chart.js</div>
        <h1 class="suggestTitle">Suggestions</h1>
        <div class="suggestDiv">Insert suggestions from get request on the server.</div>

    </div>

    <script src="jquery.leanModal.min.js"></script>
    <script src="fss.js"></script>
    <script src="test.js"></script>
</body>

</html>